<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>filters.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewQuestionServlet</servlet-name>
        <servlet-class>servlets.admin.AddNewQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuestionServlet</servlet-name>
        <servlet-class>servlets.admin.SearchQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>servlets.admin.DeleteQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <servlet-class>servlets.admin.UpdateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateUpdateQuestionServlet</servlet-name>
        <servlet-class>servlets.admin.GenerateUpdateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateQuizServlet</servlet-name>
        <servlet-class>servlets.student.GenerateQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizSubmitServlet</servlet-name>
        <servlet-class>servlets.student.QuizSubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizNextQuestion</servlet-name>
        <servlet-class>servlets.student.QuizNextQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>servlets.student.HistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewQuestionServlet</servlet-name>
        <url-pattern>/admin/add-new-question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuestionServlet</servlet-name>
        <url-pattern>/admin/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <url-pattern>/admin/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <url-pattern>/admin/update-question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateUpdateQuestionServlet</servlet-name>
        <url-pattern>/admin/get-update-page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateQuizServlet</servlet-name>
        <url-pattern>/user/quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizSubmitServlet</servlet-name>
        <url-pattern>/user/quiz-submit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizNextQuestion</servlet-name>
        <url-pattern>/user/next-question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/user/view-history</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
